
/* .chat-room {
    position: relative;
} */

.form-group {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.form-group .btn-outline-primary {
    position: relative;
    left: 94%;
    margin-top: 10px;
}

.chat-room {
  width: 100%;
  border: 0.5px solid rgb(196, 194, 194);
  /* border: 1px solid red; */
}

.chat-room .form-group span {
  font-weight: bold;
  color: #004085;
}

.chat-feed {
    height: 75%;
    /* background-color:rgb(245, 248, 250); */
    margin: 20px;
    
}

.chat-room-list::-webkit-scrollbar {
  display: none;
}


.chat-room-list {
  overflow-y: scroll;
  height: 770px;
}

/* need adjusting */

.chat-display {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

#messages {
    /* height: 690px; */
    height: 690px;
    overflow-y: scroll;
    border: 1px solid rgb(196, 194, 194);
    width: 100%;
    /* margin-bottom: 10px; */
    /* background-color: rgb(235, 226, 226); */
  }
.chat-display::-webkit-scrollbar {
  display: none;
}
  #chat-message {
    margin-top: 2.5%;
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 3px 3px black; */
    /* font-family: 'Oswald', sans-serif; */
    width: 35%;
  }
  
  #chat-message h4 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  #chat-message img {
    width: 30px;
  }
  
  #chat-message p {
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  .current-user-message {
    background-color: lightskyblue;
    /* position: relative; */
    margin-right: 3%;
    margin-left: 60%;
    /* width: 60% */
    /* width: 40%; */
    word-wrap: break-word;
  }
  
.other-user-message {
  background-color: lightpink;
  margin-left: 5%;
    /* width: 60px; */
  word-wrap: break-word;
}


/* @media screen and (min-height: 1200px) {
  #messages {
    height: 1000px;
  }
} */


@media screen and (min-height: 1200px) {
  #messages {
    height: 1000px;
  }

  .profile-pic {
    height: 40%;
  }

  .profile-pic img {
    height: 60%;
    width: 60%;
  }

  .form-group {
    width: 95%;

    margin: 10% auto 0 auto;
    position: relative;
  }



}

@media screen and (max-height: 950px) {
  .chat-feed {
    height: 70%;
  }
  #messages {
    height: 100%;
  }

  .chat-room {
    height: 95vh;
  }

  .chat-list-container {
    height: 95vh;
  }

}

@media screen and (max-width: 1680px) {
  .form-group .btn-outline-primary {
    position: relative;
    left: 93%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .form-group .btn-outline-primary {
    position: relative;
    left: 90%;
    margin-top: 10px;
  }

}

@media screen and (max-width: 1200px) {
  .form-group .btn-outline-primary {
    position: relative;
    left: 88%;
    margin-top: 10px;
  }

}

@media screen and (min-width: 990px) {
  /* .chat-room-bar h2 {
    font-size: 20px;
  } */

  /* .form-group .btn-outline-primary {
    position: relative;
    left: 84%;
    margin-top: 10px;
  } */

  

}

@media screen and (max-width: 990px) {
  .form-group .btn-outline-primary {
    position: relative;
    left: 84%;
    margin-top: 10px;
  }
  .chat-room-bar h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .form-group .btn-outline-primary {
    position: relative;
    left: 73%;
    margin-top: 10px;
  }
}