
/* .chat-room {
    position: relative;
} */

.form-group {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.form-button {
    /* position: absolute; */
    /* right: 30px; */
    backgroud-color: pink;
}

.chat-feed {
    height: 75%;
    background-color:#DDEBF3;
    margin: 20px;
    
}

/* need adjusting */

#messages {
    height: 690px;
    overflow-y: scroll;
    background-color: lightgray;
  }
  
  #chat-message {
    margin-top: 2.5%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    width: 45%;
  }
  
  #chat-message h4 {
    margin: 0;
    padding-top: 10px;
  }
  
  #chat-message img {
    width: 20px;
  }
  
  #chat-message p {
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  .current-user-message {
    background-color: lightskyblue;
    margin-right: 2.5%;
    margin-left: 45%;
  }
  
  .other-user-message {
    background-color: lightcoral;
    margin-left: 2.5%;
  }