.home-container {
    background: lightblue;
    display: grid;
    grid-template-columns: 30% auto;
    height: 95vh;
    margin: 20px;
    position: relative;
}

.side-nav {
    position: fixed;
    height: 95%;
    background-color: rgba(253, 250, 250, 0.959);
    z-index: 1;
    /* transition: 0.7s; */

    /* align-items: center; */
    
    
}

.for-menu-items {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.for-menu-items a {
    margin-bottom: 50px;;
    font-size: 30px;
    color: lightskyblue;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.for-menu-items a:hover {
    text-decoration: none;
}

.for-modal .modal-title {
    font-family: 'Oswald', sans-serif;
    color: lightskyblue;
    font-weight: bold;
}

.for-modal input {
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
    margin: 25px auto;
}


.side-nav .menu-arrow {
    padding-left: 3px;
    font-size: 30px;
    color: lightskyblue;
}

.menu-items {
    

}