
.home-container {
    /* background: lightblue; */
    display: grid;
    grid-template-columns: 30% 70%;
    height: 95vh;
    margin: 20px;
    position: relative;
    border: 1px solid gray;
    /* width: 80%; */
}

.side-nav {
    position: fixed;
    height: 95%;
    /* background-color: rgba(129, 58, 123, 0.856); */
    background-color:#004085;
    z-index: 1;
    /* transition: 0.7s; */

    /* align-items: center; */
    
    
}

.profile-pic {
    /* margin-top: 20%; */
    padding-top: 20%;
    /* background-color: lightblue; */
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: vertical;
    align-items: center;
    justify-content: center; */
}

.profile-pic img {
    height: 70%;
    margin: 0 auto;
    width: 50%;
    display: block;
}

.profile-pic p {
    margin-top: 5%;
    font-weight: bold;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: lightskyblue;
}

.for-menu-items {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.for-menu-items a {
    margin-top: 30px;
    margin-bottom: 40px;;
    font-size: 30px;
    color: lightskyblue;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.for-menu-items a:hover {
    text-decoration: none;
}


.for-modal .modal-title {
    font-family: 'Oswald', sans-serif;
    color: lightskyblue;
    font-weight: bold;
}

.for-modal input {
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
    margin: 25px auto;
}


.side-nav .menu-arrow {
    padding-left: 3px;
    font-size: 30px;
    color: lightskyblue;
}

.empty-chat-message {
    width: 60%;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    color: rgba(223, 136, 150, 0.904);
    font-weight: bold;
}

.chat-list-container {
    background-color: rgb(245, 243, 243);
}


/* for chat room list items*/
.chat-room-bar {
    height: 130px;
    position: relative;
    
}

.chat-room-bar h2 {
    /* position: absolute;
    right: 20%;
    top: 30%; */
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    
}

.selected {
    color: #004085;
    border-right: 4px solid lightblue;
    /* background-color: rgb(152, 206, 236); */
}

.container-image-name {
    position: relative;
    height: 100%;
    width: 100%;
    /* margin: 0 auto; */
}

.list-group-item {
    position: relative;
 
    height: 100%;
    padding: 0 0;
    cursor: pointer;
} 