.welcome-container {
    margin: 20px;
    height: 95vh;
    /* margin: 20px; */
    background-color: lightblue;
}

.base-container h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.welcome-container p {
    text-align: center;
    color: white;
    font-size: 20px;
}

.welcome-container p span {
    cursor: pointer;
    text-decoration: underline;
}

.welcome-container p span:hover {
    color: rgba(223, 136, 150, 0.904);
}

.login-form, .signup-form {
    position: relative;
    padding-top: 20px;
    width: 20%; 
    margin: 0 auto;

}


.header-logo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: rgba(223, 136, 150, 0.904);

    font-size: 100px;
}